body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Empowering{
    border: solid black;
    background-color:rgb(21, 20, 20);
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
.expert-service{
    display: flex;
    align-items: center;
    gap: 10px;

}
.expert-service h1{
    border: solid;
    border-radius: 10px;
}
.expert-service p{
  
}
.comprehensive{
    display: flex;
    gap: 5px;
  
}
.comprehensive h2{
gap: 10px;
}
.Maitenance{
    
}
.Reliable{
    display: flex;
}


