body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    border: solid black;
    background-image: url(8d1a674bf9d0cbcd38fabb68c56aab6b\ 1.png);
    background-size: contain;
}

