body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Empowering{
    border: solid black;
    background-color:rgb(21, 20, 20);
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
.expert-service{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(81, 79, 79);


}
.expert-service h1{
    border: solid;
    border-radius: 10px;
    color: aliceblue;
    background-color:rgb(21, 20, 20); 
    padding: 20px;
}
.expert-service p{
  
}
.comprehensive{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    background-color :rgb(21, 20, 20); 
    border: solid greenyellow;
    
  
}
.itsolution{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:solid red;
}
.comprehensive h2{
gap: 10px;
}
.Maitenance p{
    font-size: x-small;
    }
.Maitenance h4{
        font-size: small;
        }
.Network p{
    font-size: x-small;
}
.Network h4{
    font-size: small;
}
.Network {
    display: flex;
    flex-direction: column;
    border: solid red;
    justify-content: space-between;
}
.Maitenance{
    display: flex;
    flex-direction: column;
    border: solid red;
}
.Reliable{
    color: aliceblue;
    display: flex;
    background-color:rgb(21, 20, 20); 
    border: solid red;
    
}
.Reliable h1{
    font-size: small;
}
.Reliable img{
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.about{

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color:#022b61;
    
    color: antiquewhite;
    padding: 10px;
}
.about h2{
    border: solid red;
}
form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    color: antiquewhite;
    background-color: black;
    justify-content: center;
    
}
.Message{
    display: flex;
    flex-direction: column;
}

form .Message input{
    height: 200px;
    width: 300px;
    border-radius: 8px;
}
.child1{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 300px;
  
}
form input{
    border-radius: 8px;
    
}
.about img{
    content: ;
    margin: 10px;
    border: solid red;
    border-radius: 12px;
    box-shadow: inset;
}
.contacts{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    background-color: black;

}
.contacts p{
    background-color: grey;
    color: antiquewhite;

    
}
.contacts h1{
    color: antiquewhite;
    
}



